<!doctype html>
<!-- This is a Jinja based template. To read more about Jinja, check
 https://jinja.palletsprojects.com/en/3.0.x/  -->
<title>French Baguette of matteo bichi</title>
<body>
    <h4>for one baguette it's one euro.</h4> 

    <h4> Do you like baguett ?:</h4>
    <ul>
        {% for m in messages[-9:]|reverse %}
            <li>
                "{{m.content}}" <small>Posted on {{m.timestamp}}</small>
            </li>
        {% endfor %}
    </ul>
    <h4> how many baguette do you want ?</h4>
    <form action="/">
        <label >For 3 baguette 1 free:</label><br>
        <input type="text" name="msg"><br>
        <input type="submit" value="Submit">
    </form>
</body>
